@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter-fallback';
  size-adjust: 107%;
  ascent-override: 90%;
  src: local('Arial');
}

@font-face {
  font-family: "Fira Code-fallback";
  size-adjust: 134.2%;
  ascent-override: 70%;
  src: local("Arial");
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter.ttf') format('truetype') tech('variations'),
    url('./assets/fonts/Inter.ttf') format('truetype-variations');
  font-weight: 100 1000;
  font-stretch: 25% 151%;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Code';
  src: url('./assets/fonts/JetBrainsMono[wght].ttf') format('truetype') tech('variations'),
    url('./assets/fonts/JetBrainsMono[wght].ttf') format('truetype-variations');
  font-weight: 100 1000;
  font-stretch: 25% 151%;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Code';
  src: url('./assets/fonts/FiraCode-VF.ttf') format('truetype') tech('variations'),
    url('./assets/fonts/FiraCode-VF.ttf') format('truetype-variations');
  font-weight: 100 1000;
  font-stretch: 25% 151%;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Stop a user from scrolling when a modal is open */
html:has(dialog[open]) {
  overflow: hidden;
}